/*====================================
=            Placeholders            =
====================================*/

%font-oxygen {
  font-family: $font__oxygen;
  font-display: swap;
}

%font-source {
  font-family: $font__source;
  font-display: swap;
}

%fontello {
  font-family: $font__fontello;
  font-display: swap;
}

%link-focus {
  background-color: rgba($color__focus, 0.15);
  border: solid 1px $color__focus;
  outline: 0;
}

%form-focus {
  border: 2px solid $color__focus !important;
  outline: 0;
}

%base {
  color: rgba($color__white, 0.8);
  @include font-size(18px);
  line-height: 1.48;
}

%label {
  @include font-size(14px);
  color: rgba($color__white, 0.8);
  @extend %font-oxygen;

  span {
    color: rgba($color__white, 0.5);
    line-height: 1.71;
    letter-spacing: 0.44px;
  }
}

%meta {
  @extend %label;
  font-weight: bold;
}

%btn {
  align-items: center;
  @extend %font-oxygen;
  padding: 0.5rem 1rem;
  font-weight: bold;
  @include font-size(13px);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: solid 1px rgba($color__white, 0.5);
  border-radius: 5px;

  &:hover {
    color: $color__white;
  }

  &:focus {
    @extend %form-focus;
  }

  &:hover,
  &:focus {
    background-color: $color__gray-lightest;
    border-color: $color__gray-lightest;
  }

  i {
    @include font-size(20px);
  }
}

%plain-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  li {
    &::before {
      content: none;
    }
  }
}

%icon-pseudo-element {
  position: relative;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
  text-align: center;
  speak: none;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include font-size(14px);
  @extend %fontello;
}
