/*====================================
=            Placeholders            =
====================================*/

%font-oxygen {
  font-family: $font__oxygen;
  font-display: swap;
}

%font-source {
  font-family: $font__source;
  font-display: swap;
}

%fontello {
  font-family: $font__fontello;
  font-display: swap;
}

%filters-label {
  @include font-size(16px);
  color: rgba($color__white, 0.8);
}

%link-focus {
  background-color: rgba($color__focus, 0.15);
  border: solid 1px $color__focus;
  outline: 0;
}

%form-focus {
  outline: 3px solid $color__focus;
}

%plain-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  li {
    &::before {
      content: none;
    }
  }
}

%icon-pseudo-element {
  position: relative;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
  text-align: center;
  speak: none;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include font-size(14px);
  @extend %fontello;
}
