/*=================================
=            Variables            =
=================================*/

/*----------  Colors  ----------*/

$color__red: #f4602e;
$color__yellow: #da922b;
$color__green: #04a668;
$color__blue: #3f4a96;
$color__yellow-dark: #976925;
$color__green-dark: #0b764e;
$color__blue-dark: #313a6c;

$color__focus: #4cc6f2;

$color__white: #fff;
$color__gray-lightest: #3b414a;
$color__gray-light: #32343a;
$color__gray-medium: #2a2c31;
$color__gray-dark: #1f2226;
$color__gray-darkest: #1b1c1d;
$color__off-black: #17191c;
$color__black: #000;

/*----------  Typography  ----------*/

$font__oxygen: oxygen, sans-serif;
$font__source: 'Source Sans Pro', sans-serif;

$font__fontello: 'indiareforms';
$font__fontello_url: '../fonts/';

$browser-context: 16px;

/*----------  Structure  ----------*/

$sizes__default: (
  'small',
  'medium',
  'large',
  'xlarge'
);

$sizes__mobile: (
  'medium',
  'large'
);
$sizes__desktop: (
  'large',
  'xlarge'
);

$breakpoints: (
  'small': 0,
  'medium': 48em,
  'large': 62em,
  'xlarge': 75em
);

$size__header-height: (
  'small': 54px,
  'medium': 72px,
  'large': 72px,
  'xlarge': 72px
);

$size__container-padding: (
  'small': 24px,
  'medium': 32px,
  'large': 48px,
  'xlarge': 54px
);

$size__card-width: (
  'small': 100%,
  'medium': 50%,
  'large': 300px,
  'xlarge': 340px
);

$size__grid-row-gap: (
  'small': 32px,
  'medium': 40px,
  'large': 40px,
  'xlarge': 40px
);

$size__grid-column-gap: (
  'small': 32px,
  'medium': 40px,
  'large': 32px,
  'xlarge': 32px
);
