/*=================================
=            Variables            =
=================================*/

/*----------  Colors  ----------*/

$color__red: #f4602e;
$color__yellow: #da922b;
$color__green: #04a668;
$color__blue: #3f4a96;
$color__yellow-dark: #976925;
$color__green-dark: #0b764e;
$color__blue-dark: #313a6c;

$color__focus: #4cc6f2;

$color__white: #fff;
$color__gray-lightest: #3b414a;
$color__gray-light: #32343a;
$color__gray-medium: #2a2c31;
$color__gray-dark: #1f2226;
$color__gray-darkest: #1b1c1d;
$color__off-black: #17191c;
$color__black: #000;

/*----------  Typography  ----------*/

$font__oxygen: oxygen, sans-serif;
$font__source: 'Source Sans Pro', sans-serif;

$font__fontello: 'indiareforms';
$font__fontello_url: '../fonts/';

$browser-context: 16px;

/*----------  Structure  ----------*/

$sizes__default: ('small', 'medium', 'large', 'xlarge');

$sizes__mobile: ('medium', 'large');
$sizes__desktop: ('large', 'xlarge');

$breakpoints: (
  'small': 0,
  'medium': 48em,
  'large': 62em,
  'xlarge': 75em
);

$size__header-height: (
  'small': 54px,
  'medium': 72px,
  'large': 72px,
  'xlarge': 72px
);

$size__container-padding: (
  'small': 24px,
  'medium': 32px,
  'large': 48px,
  'xlarge': 54px
);

$medium-column-gap: 40px;
$medium-column-margin: calc(#{$medium-column-gap} - 1rem);
$medium-row-margin: 40px;
$medium-card-width: calc(100% / 2 - #{$medium-column-gap} - 1rem);
$medium-container-width: 100%;

$large-column-gap: 32px;
$large-column-margin: calc(#{$large-column-gap} - 1rem);
$large-row-margin: 40px;
$large-card-width: calc(100% / 3 - #{$large-column-gap});
$large-container-width: calc(#{$large-card-width} * 3);


$xlarge-container-width: 1200px;

$xlarge-column-gap: 50px;
$xlarge-column-margin: calc(#{$xlarge-column-gap} - 1.2rem);
$xlarge-row-margin: 40px;
$xlarge-card-width: calc(100% / 3 - #{$xlarge-column-gap} * 1.25);
$xlarge-container-width: calc(#{$large-card-width} * 3);
