html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  --breakpoint: 'xsmall';
  margin: 0;
  background-color: $color__black;

  @include breakpoint('small') {
    --breakpoint: 'small';
  }

  @include breakpoint('medium') {
    --breakpoint: 'medium';
  }

  @include breakpoint('large') {
    --breakpoint: 'large';
  }

  @include breakpoint('xlarge') {
    --breakpoint: 'xlarge';
  }

  @media screen and (min-width: 120em) {
    --breakpoint: 'xlarge-2';
  }
}

header section,
nav,
main,
footer {
  max-width: 1260px;
  margin: auto;
  @each $size in $sizes__default {
    $padding: return-map-value($size__container-padding, $size);
    @include breakpoint(#{$size}) {
      width: calc(100vw - #{$padding} * 2);
    }
  }
}

a,
i,
button,
[class^='icon-'] {
  transition: all 0.2s ease-in-out;
}
