/*=========================================
=            Print Stylesheets            =
=========================================*/
@media print {
  *,
  *::before,
  *::after {
    color: #000 !important; // Black prints faster: h5bp.com/s
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
    filter: none !important;
  }

  body {
    margin: 25mm;

    &::before {
      display: block;
      font-family: $font__serif;
      font-size: 75pt;
      text-align: center;
      content: 'CSIS | Careers';
    }
  }

  h2,
  h3 {
    break-after: avoid;
  }

  .site-header,
  .listings__filters,
  .share,
  .component-image,
  .post-footer,
  .csis-logo,
  .Page-logo,
  .apply,
  .forward,
  .backward,
  .site-footer__subsection section:first-of-type,
  .site-footer__details-social {
    display: none !important;
  }

  a:link,
  a:visited,
  .site-footer li {
    color: #000 !important;
  }

  .post,
  .job {
    .job-content__body {
      padding: 5mm;
    }

    .job-meta {
      grid-template-columns: auto auto;
      grid-template-rows: 1fr auto;
    }
  }
}
