*,
*::before,
*::after {
  color: #000 !important;
  text-shadow: none !important;
  background: transparent !important;
  background-image: none !important;
  box-shadow: none !important;
  filter: none !important;
}

a:link,
a:visited {
  color: #000 !important;
}

html {
  font-size: 12px;
}

#root {
  width: 150mm;
  margin: 25mm auto;
}

h1 {
  margin: 2rem auto !important;
  padding: 0 !important;
  font-size: 2.25rem;
}

.header,
.description.current,
.meta,
footer section,
p,
li,
h3,
h2,
h1 {
  break-after: avoid;
}

nav,
header a,
#controls,
.intro__video,
.share,
.credit,
button,
.btn,
svg,
img {
  display: none !important;
}

h1,
section,
.ui.card,
footer {
  width: 100% !important;
  max-width: 100% !important;
}

#cards {
  display: block !important;
  height: unset !important;
}

#cards .ui.ribbon.label {
  left: calc(-2rem - 2em) !important;
  color: #000 !important;
  background-color: #fff !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0 !important;
}

#cards .ui.ribbon.label::after {
  border-right-color: transparent !important;
}

.ui.card {
  position: static !important;
  height: unset !important;
  margin-right: 0 !important;
  margin-bottom: 1.5rem !important;
  margin-left: 0 !important;
  border-top: 1px solid #ccc !important;
  border-radius: 0 !important;
}

.ui.card .content > * {
  flex-basis: 100% !important;
}

.ui.card .content > *.description.progress {
  display: block !important;
}

.ui.card .content .checked.current .status {
  font-weight: bold;
}

.ui.card .content > *.description.current {
  display: none !important;
}

header p,
main p,
.ui.card .content > *.description p {
  font-size: 1rem !important;
}

.ui.card .content:nth-child(2) {
  padding: 0 !important;
}

.ui.card .content:nth-child(3) {
  margin-bottom: 0 !important;
}

footer > section {
  padding: 1rem 0 0 !important;
}

footer .page-footer,
footer .site-footer__content {
  flex-wrap: wrap;
}

footer .page-footer__methodology,
footer .page-footer__feedback {
  flex-basis: 100%;
  padding: 0;
}

.archive .policy,
.archive .policy div {
  width: 100% !important;
  height: unset !important;
  padding: 0 !important;
}

.archive #page-container {
  max-width: unset !important;
}

.archive .policycontainer {
  height: unset !important;
}

.archive .policycontainer > .policy {
  position: static !important;
  margin-bottom: 3rem !important;
}

.archive .portfolioFilter {
  display: none !important;
}
