body,
button {
  color: rgba($color__white, 0.8);
  @extend %font-source;
  font-size: $browser-context;
}

/*================================
=            Headings            =
================================*/

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0 0 1rem;
    @extend %font-oxygen;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
  }
}

h1 {
  color: $color__red;
  line-height: 0.83;
  text-align: center;
  @include font-size(44px);

  .subtitle {
    color: $color__white;
    font-weight: normal;
    font-size: 29px;
    letter-spacing: 1.71px;
    text-transform: uppercase;
  }
}

h2 {
  color: $color__white;
  font-weight: normal;
  line-height: 1.3;
  @include font-size(24px);
}

h3 {
  color: $color__white;
  @include font-size(20px);
}

/*============================
=            Copy            =
============================*/

p {
  margin: 0.25rem 0 1.5rem;

  header &,
  main & {
    @extend %base;
  }

  footer & {
    @include font-size(16px);
    line-height: 1.3;
  }

  .site-footer & {
    color: rgba($color__white, 0.5);
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

ul {
  margin-top: 0;
  padding-left: 0.5rem;

  main & {
    @include font-size(18px);

    li {
      position: relative;
      margin-bottom: 1rem;
      padding-left: 1rem;
      list-style-type: none;

      &::before {
        position: absolute;
        top: 1rem;
        left: -0.6rem;
        content: '•';
        line-height: 0;
        @include font-size(20px);
      }
    }
  }
}

address {
  color: rgba($color__white, 0.5);
  @include font-size(16px);
  line-height: 1.3;
}
