input[type='submit'],
button {
  padding: 0;
  line-height: 1.25;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:focus {
    @extend %form-focus;
  }

  &.ui.button.back-to-top {
    position: sticky;
    top: calc(100vh - 4rem);
    right: 2rem !important;
    left: calc(100% - 4.5rem) !important;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    color: $color__white;
    text-align: right;
    background-color: $color__red;
    border-radius: 50%;
  }

  &.btn {
    @extend %btn;
    display: flex;
    margin: auto;
  }

  .ui.basic.buttons &.button {
    @extend %font-oxygen;
    @include font-size(13px);
    color: rgba($color__white, 0.8) !important;

    &.dark {
      color: rgba($color__white, 0.8) !important;
      background-color: $color__gray-light !important;
    }

    &:hover,
    &:focus {
      color: rgba($color__white, 0.8) !important;
      background-color: $color__gray-lightest !important;
    }
  }

  &.icon-download-doc {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 212px;
    max-height: 54px;
    padding: 0.5rem 1em;
    background-color: $color__gray-light;
    border-radius: 0.28571429rem;
    @include breakpoint('medium', 'max-width') {
      display: none;
    }

    &::before {
      display: block;
      flex-basis: 100%;
      margin-right: 0.5rem;
      font-size: 2rem;

      /* stylelint-disable */
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        content: none;
      }
      /* stylelint-enable */
    }

    &:hover,
    &:focus {
      background-color: $color__gray-lightest !important;
    }

    span {
      display: block;

      &:first-of-type {
        @extend %font-oxygen;
        color: rgba($color__white, 0.8);
        text-transform: uppercase;
        @include font-size(15px);
      }

      &:last-of-type {
        color: rgba($color__white, 0.5);
        letter-spacing: 0.5px;
        @include font-size(13px);
      }
    }

    #cards + & {
      display: flex;
      margin: 4rem auto 0;
      @include breakpoint('medium') {
        display: none;
      }
    }
  }
}
