input[type='submit'],
button {
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  // @include font-size(15px);

  &:focus {
    @extend %form-focus;
  }

  &.ui.button.back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 2;
    color: $color__white;
    text-align: right;
    background-color: $color__red;
    border-radius: 50%;
  }

  &.btn {
    @extend %btn;
    display: block;
    margin: auto;
  }
}
