#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  min-height: 50vh;

  > * {
    width: 100%;
    max-width: unset;
    height: 375px;
    margin: 1rem 2rem 1rem 0;
    border: 1px solid #cccc;
    box-shadow: 0 46px 53px -34px rgba(0, 0, 0, 0.18);
    /* stylelint-disable */
    -webkit-transition: unset;
    transition: unset;
    /* stylelint-enable */

    @include breakpoint('medium') {
      width: 500px;
    }
    @include breakpoint('large') {
      width: 300px;
    }
    @include breakpoint('xlarge') {
      width: 300px;
    }

    h3 {
      margin-top: 1rem;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
    }

    .meta {
      align-self: flex-end;
    }
  }
}

#controls .button-group {
  margin: 1rem 0;
}

.modal {
  p:not(.source) {
    margin-bottom: 0;
  }

  p.source {
    font-size: 1.1rem;
  }
}

#filters button {
  margin: 0.2rem;
  font-size: 0.8rem;
  @include breakpoint('large') {
    display: block;
    margin: 0.2rem auto;
  }
}

#sorts button {
  margin: 0.2rem;
  font-size: 0.8rem;
}

#controls {
  text-align: center;
}


