a {
  text-decoration: none;

  div > &,
  &.btn {
    color: rgba($color__white, 0.5);

    background-image: linear-gradient(
      to bottom,
      rgba($color__white, 0.5) 0,
      rgba($color__white, 0.5) 100%
    );
    background-repeat: repeat-x;
    background-position: 0 95%;
    background-size: 100% 0;

    &:hover {
      color: $color__white;
    }

    &:not(.btn):hover {
      background-size: 100% 1px;
    }

    &:not(:hover):visited {
      color: rgba($color__white, 0.5);
    }
  }

  p & {
    color: $color__red;
    text-decoration: none;

    background-image: linear-gradient(
      to bottom,
      $color__red 0,
      $color__red 100%
    );
    background-repeat: repeat-x;
    background-position: 0 95%;
    background-size: 100% 0;

    &:hover {
      color: $color__yellow;
      background-size: 100% 1px;
    }

    &:visited:not(:hover) {
      color: $color__red;
    }
  }

  &:not(.btn):not(.nav-link):focus {
    @extend %link-focus;
    padding: 0 0.125rem;
    background-position: 0 87.5%;
  }

  &.btn {
    @extend %btn;
    display: inline-flex;

    &:hover,
    &:focus {
      background-color: $color__gray-lightest;
    }
  }
}
