#controls {
  position: sticky;
  top: return-map-value($size__header-height, 'small');
  z-index: 2;
  width: 100vw !important;
  margin-left: calc((100vw - 100%) / -2);
  background-color: $color__gray-dark;
  box-shadow: 3px 6px 6px $color__black;

  &[style] {
    padding-right: 162px;
  }

  @include breakpoint('medium') {
    top: 0;
  }

  @each $size in $sizes__default {
    @include breakpoint($size) {
      padding: 0 return-map-value($size__container-padding, $size);
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    @include breakpoint('medium') {
      height: 5.5rem;
    }
  }

  .sort {
    display: flex;
    align-items: center;

    span {
      margin-right: 1rem;
      @extend %label;
    }

    .buttons,
    .button {
      border-top-color: $color__gray-lightest;
      border-right-color: $color__gray-lightest;
      border-bottom-color: $color__gray-lightest;
      border-left-color: $color__gray-lightest;
    }

    .buttons {
      &::after {
        content: none;
      }
    }
  }
}
