#cards {
  margin: auto;

  @include breakpoint('medium', 'max-width') {
    margin: 0 24px;
  }

  @media screen and (min-width: 724px) {
    width: $medium-container-width;
  }

  @include breakpoint('large') {
    width: $large-container-width;
  }

  @include breakpoint('xlarge') {
    width: $xlarge-container-width;
  }
}

.ui.card {
  width: 100%;
  max-width: unset;
  background-color: $color__gray-medium;
  border: 0;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.9);
  /* stylelint-disable */
  -webkit-transition: unset;
  /* stylelint-enable */
  transition: unset;

  @media screen and (min-width: 724px) {
    width: $medium-card-width;
    margin: 0 $medium-column-margin $medium-row-margin;
  }

  @media screen and (min-width: 62em) {
    width: $large-card-width;
    max-width: 300px;
    margin: 0 $large-column-margin $large-row-margin;
  }

  @media screen and (min-width: 75em) {
    width: $xlarge-card-width;
    max-width: 400px;
    margin: 0 $xlarge-column-margin $large-row-margin;
  }

  h2 {
    margin: 1rem 0;
  }

  .content {
    display: flex;
    flex-grow: unset;
    flex-wrap: wrap;
    padding: 1em;
    border-top: solid 2px rgba($color__white, 0.1);

    @include breakpoint('medium') {
      padding: 1em 2em;
    }

    > .description {
      p {
        @extend %base;
      }

      &.progress {
        display: none;
      }
    }

    &.extra {
      flex-grow: 1;
      margin-bottom: 1.5rem;

      button {
        align-self: flex-end;
        margin: 0 auto;
      }
    }
  }

  .meta {
    @extend %meta;
  }

  .ui.ribbon.label {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    @extend %meta;

    &.blue {
      background-color: $color__blue !important;

      &::after {
        border-right-color: $color__blue-dark;
      }
    }

    &.yellow {
      background-color: $color__yellow !important;

      &::after {
        border-right-color: $color__yellow-dark;
      }
    }

    &.green {
      background-color: $color__green !important;

      &::after {
        border-right-color: $color__green-dark;
      }
    }
    @include breakpoint('medium', 'max-width') {
      left: calc(-1rem - 0.75em);

      &::after {
        border-right-width: 0.7em;
      }
    }

    @include breakpoint('medium') {
      left: calc(-2rem - 1.2em);
    }
  }
}
