/* stylelint-disable */
.archive {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  background: #17191c;

  /*------------------------------------------*/
  /* GLOBAL STYLES */
  /*------------------------------------------*/

  p {
    font-size: 1.25rem;
  }

  a {
    color: #c88064;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  a:hover {
    color: #9f4726;
    transition: 0.4s;
  }

  a:visited {
    color: #c88064;
  }

  hr {
    height: 1px;
    margin: 25px 0;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(255, 255, 255, 0.75),
      rgba(0, 0, 0, 0)
    );
    border: 0;
  }

  sup {
    margin: 0 0.2rem;
  }

  /*------------------------------------------*/
  /* HEADER STYLES */
  /*------------------------------------------*/

  #csis {
    top: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: #fff;
  }

  .header {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: -96px;
    padding-top: 120px;
    text-align: center;
    background-image: linear-gradient(
      to bottom,
      rgba(#17191c, 1) 0,
      rgba(#17191c, 1) 96px,
      rgba(#1f2226, 0.62) 96px,
      rgba(#1f2226, 0.62) 50%,
      rgba(#1f2226, 0) 75%
    ),
      url('https://res.cloudinary.com/csisideaslab/image/upload/v1561580632/india-reforms/archive_hero.jpg');
    background-position-x: 75%, 75%;
    background-size: cover, cover;
  }

  .overlay {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .header h1 {
    position: relative;
    margin-top: 0;
    padding: 10%;
    color: #fff;
    line-height: 1.25;
    text-transform: uppercase;
  }

  .header h1 span {
    display: block;
    text-transform: none;
  }

  .header a {
    position: relative;
    bottom: 100px;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    border: solid 2px #fff;
  }

  @media screen and (max-width: 990px) {
    .header a {
      bottom: 50px;
    }
  }

  @media screen and (max-width: 510px) {
    .header a {
      display: none;
    }
  }

  .header a:hover {
    color: #9f4726;
    background: #fff;
    border-color: #3f4a96;
    transition: 0.4s;
  }

  .overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    content: ' ';
  }

  .article * {
    position: relative;
    /* hack */
  }

  p#cutline {
    color: #fff;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
  }

  /*------------------------------------------*/
  /* ISOTOPE GRID STYLES */
  /*------------------------------------------*/

  .grid-item {
    width: 25%;
  }

  .grid-item--width2 {
    width: 50%;
  }

  .portfolioFilter {
    width: 100%;
    margin: auto auto 1%;
    text-align: center;
  }

  .portfolioFilter a {
    margin: 0 5px;
    text-transform: uppercase;
  }

  #site-description {
    float: none;
    max-width: 800px;
    margin: 50px auto;
    color: #fff;
    font-size: 1.6rem;
  }

  @media screen and (max-width: 760px) {
    #site-description p {
      font-size: 1.4rem;
    }
  }

  #center-desc {
    margin: 10px 5%;
    color: #fff;
    text-align: center;
  }

  .contenthover {
    padding: 20px 20px 10px;
  }

  .contenthover,
  .contenthover h3,
  contenthover a {
    color: #fff;
  }

  .contenthover h3,
  .contenthover p {
    margin: 0 0 10px;
    padding: 0;
    line-height: 1.4em;
  }

  .contenthover a.mybutton {
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    background: #3c9632;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }

  .contenthover a.mybutton:hover {
    background: #34742d;
  }

  #page-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
  }

  .color_key {
    position: relative;
    width: 250px;
    height: 40px;
    margin: 20px 5px 25px 17%;
    font-weight: bold;
    text-align: center;
  }

  @media screen and (max-width: 590px) {
    .color_key {
      margin: 20px 5px 25px -10%;
      font-size: 1rem;
    }
  }

  .color_key ul {
    width: 450px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .color_key ul li {
    color: #fff;
  }

  .color_key ul li p {
    float: left;
    margin: -1px 5px 0;
    font-size: 1.2rem;
  }

  #blue_key {
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    background-color: #3f4a96;
  }

  #red_key {
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    background-color: #9f4726;
  }

  #gray_key {
    float: left;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    background-color: #69696c;
  }

  .policycontainer {
    width: 100%;
    max-width: 960px;
    margin: 10px 2% 50px;
    text-align: center;
  }

  .indepth {
    margin: 15px 5%;
  }

  a#social-links {
    opacity: 1;
  }

  a#social-links:hover {
    opacity: 0.6;
  }

  .portfolioFilter {
    display: block;
    width: 65%;
    max-width: 960px;
  }

  .portfolioFilter h2 {
    color: #fff;
  }

  .button {
    display: inline-block;
    margin-bottom: 10px;
    padding: 6px;
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 0.6px;
    text-align: center;
    text-transform: uppercase;
    background: #60666a;
    border: none;
    cursor: pointer;
  }

  .button:hover {
    color: #fff;
    background-color: #c88064;
  }

  .button:active,
  .button.is-checked {
    background-color: #9f4726;
  }

  .button.is-checked {
    color: white;
  }

  .button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
  }

  /* ---- button-group ---- */

  .button-group::after {
    display: block;
    clear: both;
    content: '';
  }

  .button-group .button {
    margin-right: 1px;
    margin-left: 0;
    border-radius: 0;
  }

  .policy {
    width: 295px;
    height: 395px;
    margin: 10px;
    overflow: hidden;
    color: #e3e3e3;
    text-align: center;
    /* padding: 10px; */
    background: #393939;
    border-radius: 10px;
  }

  .policy div {
    top: 0;
    left: 0;
    width: 295px;
    height: 295px;
    text-align: center;
  }

  .policy div.first {
    z-index: 1000;
  }

  .policy:hover div.first {
    display: none;
  }

  .info-text {
    padding-top: 25px;
    color: #fff;
    background: #45484d;
    background: -moz-radial-gradient(
      center,
      ellipse cover,
      #45484d 0%,
      #000 100%
    );
    background: -webkit-gradient(
      radial,
      center center,
      0,
      center center,
      100%,
      color-stop(0%, #45484d),
      color-stop(100%, #000)
    );
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      #45484d 0%,
      #000 100%
    );
    background: -o-radial-gradient(
      center,
      ellipse cover,
      #45484d 0%,
      #000 100%
    );
    background: -ms-radial-gradient(
      center,
      ellipse cover,
      #45484d 0%,
      #000 100%
    );
    background: radial-gradient(ellipse at center, #45484d 0%, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=1);
  }

  .info-text p {
    margin: 15px;
  }

  /*------------------------------------------*/
  /* RESPONSIVE GRID STYLES */
  /*------------------------------------------*/

  @media screen and (max-width: 990px) {
    .policy {
      width: 275px;
      height: 275px;
    }

    .policy h2 {
      font-size: 1.6em;
    }

    .policy div {
      width: 275px;
      height: 275px;
    }

    .policy .info-text {
      width: 275px;
      height: 275px;
    }
  }

  @media screen and (max-width: 920px) {
    .policy {
      width: 265px;
      height: 265px;
    }

    .policy div {
      width: 265px;
      height: 265px;
    }

    .policy .info-text {
      width: 265px;
      height: 265px;
    }
  }

  @media screen and (max-width: 890px) {
    .policy {
      width: 255px;
      height: 500px;
    }

    .policy div {
      width: 255px;
      height: 500px;
    }

    .policy .info-text {
      width: 255px;
      height: 500px;
    }

    .policy h2 {
      font-size: 1.6rem;
    }

    .policy p {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 860px) {
    .policy {
      width: 240px;
      height: 240px;
    }

    .policy div {
      width: 240px;
      height: 240px;
    }

    .policy .info-text {
      width: 240px;
      height: 240px;
    }
  }

  #policy-align {
    margin: auto;
    text-align: center;
  }

  h2.name {
    margin: 0 0 10px;
    padding: 10px;
    color: #f2f2f2;
    border-radius: 10px 10px 0 0;
  }

  .blue {
    background: #3f4a96;
  }

  .red {
    background: #9f4726;
  }

  .gray {
    background: #69696c;
  }

  .status {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  .difficulty {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .desc {
    margin: 0;
    padding: 15px;
    font-size: 14px;
  }

  .source {
    margin: 0;
    padding: 0 5px;
    font-size: 12px;
    text-align: left;
  }

  #method {
    margin: 0 20px;
    color: #fff;
  }

  /*------------------------------------------*/
  /* FOOTER STYLES */
  /*------------------------------------------*/

  #footer {
    width: 100%;
    max-width: 800px;
    margin: 10px auto 25px;
  }

  #copyright {
    position: relative;
    bottom: 0;
    float: left;
    width: 100%;
    height: 135px;
    background: #222;
  }

  #copyright p {
    margin: 28px auto;
    color: #fff;
    text-align: center;
  }

  @media screen and (max-width: 590px) {
    #copyright p {
      font-size: 1rem;
    }
  }
}
/* stylelint-enable */
