.site-header {
  background-image: linear-gradient(
    to bottom,
    rgba($color__gray-dark, 0) 0%,
    rgba($color__gray-dark, 0.62) 25%,
    rgba($color__gray-dark, 1) 50%
  ),
    url('https://res.cloudinary.com/csisideaslab/image/upload/v1561580579/india-reforms/Indian_Prime_Minister_Narendra_Modi_waves.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;

  @include breakpoint('medium', 'max-width') {
    background-position: center center, 25% center;
  }

  h1 {
    padding: 8rem 0;
  }

  .credit {
    margin-bottom: 2rem;
    text-align: right;
    opacity: 0.25;
  }

  .intro {
    display: flex;

    > * {
      margin-bottom: 2.5rem;
    }

    &__video {
      flex-basis: 100%;
      @include breakpoint('medium') {
        flex-shrink: 0;
      }
      @include breakpoint('large') {
        flex-basis: 500px;
        margin-left: 3rem;
      }
    }

    @include breakpoint('large', 'max-width') {
      flex-wrap: wrap;
    }
  }
}

.site-header__nav {
  display: flex;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;

  @include breakpoint('medium', 'max-width') {
    @include full-width-background($color__gray-lightest);
    background-color: $color__gray-lightest;
    border-top: 4px solid $color__red;

    &::after,
    &::before {
      top: -4px;
      height: calc(100% + 4px);
      border-top: 4px solid $color__red;
    }
  }

  &--hidden {
    opacity: 0;
  }

  &--minimal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }

  .link-home {
    position: relative;
    z-index: 1;
    display: block;

    &:not(:focus) {
      outline: 2px solid transparent;
    }

    &--desktop {
      @include breakpoint('medium', 'max-width') {
        display: none;
      }
    }

    &--mobile {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      max-width: 240px;
      line-height: 1.4;

      span {
        display: block;
        color: rgba($color__white, 0.8);
        @extend %font-oxygen;
        letter-spacing: 0.82px;
        @include font-size(16px);
      }
      @include breakpoint('medium') {
        display: none;
      }
    }

    &__logo-long {
      height: 42px;
      margin-top: 2rem;
      fill: rgba($color__white, 0.62);
    }

    &__logo-short {
      height: 18px;
      margin-top: 1rem;
      opacity: 0.6;
      fill: rgba($color__white, 0.5);
      @include breakpoint('medium') {
        display: none;
      }
    }
  }

  .link-reforms {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 240px;
    padding: 0 1.25rem;
    background-color: $color__red;

    span {
      display: block;
      font-weight: bold;
      @extend %font-oxygen;

      &:first-of-type {
        @include font-size(16px);
        color: $color__white;
        line-height: 1.31;
      }

      &:last-of-type {
        @include font-size(13px);
        color: rgba($color__white, 0.79);
        line-height: 1.15;
      }
    }

    @include full-width-background($color__red, right, true);
  }

  &--archive {
    z-index: 1;
    height: 96px;
  }

  &--homepage {
    @each $size in $sizes__default {
      @include breakpoint($size) {
        height: return-map-value($size__header-height, $size);
      }
    }

    @include breakpoint('medium', 'max-width') {
      position: fixed;
      top: 0;
      left: return-map-value($size__container-padding, 'small');
      z-index: 10;
    }
  }
}
